@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


@theme {
  --color-primary:#b20bb5 ;
  --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));

  }



body.dark {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-text-secondary: #D3D3D3;
  background-color: var(--color-background);
  color: var(--color-text);
}

body.dark .text-gray-500 {
  color: var(--color-text-secondary);
}

body.dark .bg-white {
  background-color: #1a1a1a;
  color: var(--color-text);
}

body.dark .border {
  border-color: #444;
}

body.dark .shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 4px 6px -2px rgba(0, 0, 0, 0.25);
}




.active hr{
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}

*{
  font-family:Outfit;
}

.show-scrollbar::-webkit-scrollbar {
  display: block; 
  
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background: #b20bb5;
  border-radius: 9px; /* Makes the thumb rounded */
}
.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b20bb5; 
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}

.Toastify__toast--success {
  background: #f8b7f9 !important; /* purple-500 */
  color: white !important;
}

.Toastify__toast--warning {
  background: #f8b7f9 !important; /* purple-500 */
  color: white !important;
}

.Toastify__toast--error {
  background: #f8b7f9 !important; /* purple-500 */
  color: white !important;
}

.Toastify__toast--info {
  background: #f8b7f9 !important; /* purple-500 */
  color: white !important;
}